.right-side-bar {
    height: calc(100vh - 70px);
    top: 68px;
    background-color: #eff8f8;
    width: 960px;
}

.right-side-bar--wide {
    right: 0px; 
    transition: right 2s;
}

.right-side-bar--narrow {
    right: -910px; 
    transition: right 2s;
}

.right-left-arrow {
    rotate: 180deg; 
    transition: rotate 2s;
}

.right-right-arrow {
    rotate: 0deg; 
    transition: rotate 2s;
}

.inside-bar {
    height: calc(100% - 70px); 
}
